::selection {
    background: rgb(26, 57, 142);
    color: #fff;
 }

*{
    margin:0; padding:0; list-style:none; font-family: 'SpoqaHanSans'; box-sizing:border-box;
} 
a{
    text-decoration:none;color:inherit;
}

*:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    background-color: rgb(26, 57, 142);
}

.sideheader {
    width: 50%;
    height: 70px;
    text-align: center;
    color:white;
    font-size: 2.7rem;
    border-bottom: solid 2px white;
}

.grid {
	background-color:grey;
	width:10px;
	height:10px;
	border-width:0px;
	float:left;
}

.highLight {
	background-color: black;
}


[id*='grid-']:after {
    content: "";
    display: table;
    clear: both;
  }
  
[class*='grid-'] {
    float: left;
  } 

.grid-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
  }
.grid-1-item {
    width: 10px;
    height: 10px;
    /* transition: background-color 30s; */
  }
.grid-1-item-highlight{
    background-color: white;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
  }

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
    z-index: 15;
}

.overlay-left{
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 9;
}

.title-text{
    display: flex;
    font-size: 10rem;
    color : white;
    text-align: right;
    font-family: 'SpoqaHanSans';
    line-height: 1.3em;
    float: right;
    margin-right: 50px;
    height: 100vh;
    vertical-align: middle;
}

.sidebar-title-text{
    font-size: 2.4rem;
    color : white;
    text-align: center;
    font-family: 'SpoqaHanSans';
    border-bottom: solid 1px white;
    padding-bottom: 0.4em;
    line-height: 1.65em;
}


.sidebar-btn{
    position: absolute;
    right:2.5%;
    top:5%;
    cursor: pointer;
    transition: right 0.5s ease;
}

.sidebar-btn.click{
    right: 52%;
}

.sidebar-btn span{
    color: white;
    font-size: 3rem;
}

.sidebar-btn.click span:before{
    content: '\f00d';
}

.sidebar{
    background-color:rgba(211, 211, 211, 0.95);
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    right:-50%;
    /* right:0%; */
    transition: right 0.5s ease;
    z-index: 100;
}

.sidebar.show{
    right:0%;
}





/*신규메뉴수정*/
#nav-v1{
    width:100%;
    text-align:left;
    color: rgb(26, 57, 142);
}

.menu-v1{ 
    line-height:2; 
    border-bottom:2px solid rgb(26, 57, 142);
}

.menu-v1 a{ 
    display: inline-block;
    width: 100%;
}

.m_title{
    width: calc(100% - 12rem);
    font-size: 2.4rem;
    display: inline-block;
}

.m_title #eng{
    display: inline;
}
.m_title:hover #eng{
    display: none;
}
.m_title #kor{
    display: none;
}
.m_title:hover #kor{
    font-size: 1.2rem;
    display: inline;
}

.menu-v1:hover{
    background-color:rgb(26, 57, 142);
}

.menu-v1:hover>a{
    color:white;
} 

.menu-v1 .submenu{
    display:none;
    background-color:rgba(211, 211, 211, 1);
} 

.menu-v1 .submenu li{
    border-top:2px solid rgb(26, 57, 142);
    padding-top: 20px;
    font-weight: bold;
}

.menu-v1 .submenu li a{
    padding-left: 20px;
}

.menu-v1 .submenu li:hover{ 
    background-color:rgb(26, 57, 142);
    color:white;
}

.index {
    width: 6.4rem;
    font-size: 2.4rem;
    display: inline-block;
    padding-left: 20px;
}

.date{
    width: 4rem;
    display: inline-block;
    font-size: 1.4rem;
}

.text{
    color: black;
    padding: 40px 20px;
    line-height: 1.6rem;
    word-break: keep-all;
    display: none;
    font-weight: normal;
    background-color:rgba(211, 211, 211, 1);
}

.popup {
    position: fixed;
    z-index: 20;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background: #f0f0f0;
    border: 0;
    color: #000;
}

.popup.ui-state-hover,
.img-popup.ui-state-hover {
    background: #f0f0f0;
    border: 0;
    color: #000;
}

.popup-inner {
    position: relative;
    z-index: 19;
    width: 100%;
    height: 100%;
}

.popup-name {
    position: absolute;
    z-index: 18;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: white;
}

.popup-info .popup-name,
.popup-text .popup-name,
.popup-art .popup-name,
.popup-artist .popup-name,
.popup-text-cons .popup-name {
    background: #fff;
    color: #000;
}

.popup-close-btn {
    display: block;
    position: absolute;
    z-index: 20;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.popup-close-btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.popup-video-wrap video {
    width: 100%;
    cursor: pointer;
}

.popup--1 {
    top: 30%;
    left: 2%;
    width: 280px;
    height: 350px;
    background: rgb(219, 219, 219);
    border: 0;
    color: black;
}

.popup--1.ui-state-hover {
    background: rgb(219, 219, 219);
    border: 0;
    color: black;
}

.popup--1 .popup-inner {
    padding: 80px 25px 0;
    font-family: 'SpoqaHanSansRegular';
}

.popup--1 .popup-name {
    color: black;
    font-family: 'SpoqaHanSansBold';
}

.popup--2 {
    top: 60%;
    left: 20%;
    width: 350px;
    height: 250px;
    background: rgb(219, 219, 219);
    border: 0;
    color: black;
}

.popup--2.ui-state-hover {
    background: rgb(219, 219, 219);
    border: 0;
    color: black;
}

.popup--2 .popup-inner {
    padding: 80px 25px 0;
    font-family: 'SpoqaHanSansRegular';
}

.popup--2 .popup-name {
    color: black;
    font-family: 'SpoqaHanSansBold';
}

.popup.show{
    display: flex;
}

.popup:hover {
    animation-duration: 750ms;
    animation-name: bounce;
    animation-fill-mode: both;
}

.bounceIn {
    animation-duration: 750ms;
    animation-name: bounceIn;
    animation-fill-mode: both;
}

@font-face {
    font-family: 'SpoqaHanSansBold';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('./font/Spoqa\ Han\ Sans\ Bold.woff2') format('woff2'),
    url('./font/Spoqa\ Han\ Sans\ Bold.woff') format('woff'),
    url('./font/Spoqa\ Han\ Sans\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansRegular';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./font/Spoqa\ Han\ Sans\ Regular.woff2') format('woff2'),
    url('./font/Spoqa\ Han\ Sans\ Regular.woff') format('woff'),
    url('./font/Spoqa\ Han\ Sans\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansLight';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('./font/Spoqa\ Han\ Sans\ Light.woff2') format('woff2'),
    url('./font/Spoqa\ Han\ Sans\ Light.woff') format('woff'),
    url('./font/Spoqa\ Han\ Sans\ Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansThin';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('./font/Spoqa\ Han\ Sans\ Thin.woff2') format('woff2'),
    url('./font/Spoqa\ Han\ Sans\ Thin.woff') format('woff'),
    url('./font/Spoqa\ Han\ Sans\ Thin.ttf') format('truetype');
}

@keyframes bounce {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    60% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    80% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        -webkit-transform: scaleX(1);
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    60% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    80% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        -webkit-transform: scaleX(1);
        opacity: 1;
        transform: scaleX(1);
    }
}

.animate-menu-push {
    left: 0;
    position: relative;
    transition: all 0.3s ease;
  }
  .animate-menu-push.animate-menu-push-right {
    left: 200px;
  }
  .animate-menu-push.animate-menu-push-left {
    left: -200px;
  }
  
  .animate-menu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .animate-menu-left {
    left: -200px;
  }
  .animate-menu-left.animate-menu-open {
    left: 0;
  }
  
  .animate-menu-right {
    right: -200px;
  }
  .animate-menu-right.animate-menu-open {
    right: 0;
  }
  
  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: #222d32; */
  }
  .sidebar-menu > li {
    /* position: relative;
    margin: 0;
    padding: 0; */
    line-height: 2.8em; 
    border-bottom:2px solid rgb(26, 57, 142);
  }
  .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: blue;
  }
  .sidebar-menu > li > a > .fa {
    width: 6.4rem;
    font-size: 2.4rem;
    display: inline-block;
    font-family: 'SpoqaHanSansLight';
  }

  .sidebar-menu > li > a > span {
    font-size: 2.4rem;
    padding-left: 3rem;
    display: inline-block;
  }

  .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
  }
  .sidebar-menu > li .label,
  .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
  }
  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
  }
  .sidebar-menu li > a > .fa-date {
    /* width: auto;
    height: auto; */
    font-size: 1.2rem;
    padding-left: 1px;
    margin-right: 10px;
    margin-top: 3px;
    /* display: inline-block; */
  }
  .sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
  }
  .sidebar-menu li.active > .sidebar-submenu {
    display: block;
  }
  .sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;
  }
  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 5px;
    margin: 0 1px;
    background: #2c3b41;
  }
  .sidebar-menu .sidebar-submenu .sidebar-submenu {
    padding-left: 20px;
  }
  .sidebar-menu .sidebar-submenu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
  }
  .sidebar-menu .sidebar-submenu > li > a > .fa {
    width: 20px;
  }
  .sidebar-menu .sidebar-submenu > li > a > .fa-angle-left,
  .sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
    width: auto;
  }
  .sidebar-menu .sidebar-submenu > li.active > a,
  .sidebar-menu .sidebar-submenu > li > a:hover {
    color: #fff;
  }
  
  .sidebar-menu-rtl {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222d32;
  }
  .sidebar-menu-rtl > li {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu-rtl > li > a {
    padding: 12px 15px 12px 5px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
  }
  .sidebar-menu-rtl > li > a > .fa {
    width: 20px;
  }
  .sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
  }
  .sidebar-menu-rtl > li .label,
  .sidebar-menu-rtl > li .badge {
    margin-top: 3px;
    margin-right: 5px;
  }
  .sidebar-menu-rtl li.sidebar-header {
    padding: 10px 15px 10px 25px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
  }
  .sidebar-menu-rtl li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  .sidebar-menu-rtl li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
  }
  .sidebar-menu-rtl li.active > .sidebar-submenu {
    display: block;
  }
  .sidebar-menu-rtl a {
    color: #b8c7ce;
    text-decoration: none;
  }
  .sidebar-menu-rtl .sidebar-submenu {
    display: none;
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: #2c3b41;
  }
  .sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
    padding-right: 20px;
  }
  .sidebar-menu-rtl .sidebar-submenu > li > a {
    padding: 5px 15px 5px 5px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
  }
  .sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
    width: 20px;
  }
  .sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-left,
  .sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
    width: auto;
  }
  .sidebar-menu-rtl .sidebar-submenu > li.active > a,
  .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
    color: #fff;
  }